* {
    box-sizing: border-box;
  }

  body {

    font-family: Helvetica;
 
  }

  table, tr, td {
      border: 1px solid black;
  }

  table {
      height: 500px;
      width: 500px;
      border-collapse: collapse;
      margin: 100px;
  }

  button {
      height: 40px;
      width: 100px;
      margin-left: 100px;
  }
  h1,h2 {
      margin-left: 100px;
  }